.info {
    --picture-height: 1000px;
    --space-top: 150px;
    margin-bottom: var(--space-top);

    .about {
        display: flex;
        gap: var(--spacing-md);
        position: relative;
        height: var(--picture-height);

        img {
            max-width: 1000px;
            max-height: var(--picture-height);
            position: absolute;
            right: calc((-1 * var(--spacing-xl)) / 1.1);
            top: calc(var(--spacing-md) + var(--space-top));
        }

        h2 {
            margin-top: var(--space-top);
        }

        h2,
        p {
            max-width: calc(100% - calc(var(--picture-height) - 350px));
        }

        .grid_button_about {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            max-height: var(--button-size);
            height: 100%;
            grid-template-areas: '. . . . . . . button . . . .';
            margin-top: var(--spacing-xxl);
        }

        .button {
            grid-area: button;
            z-index: 2;
        }
    }

    .likes_and_abilities {
        padding-top: calc(var(--spacing-xxl) + calc(var(--button-size) / 2));
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 585px;

        p {
            margin: 0;
        }

        .abilities {
            align-self: flex-end;
            width: 100%;
            overflow: hidden;
            img {
                position: absolute;
                right: calc(-1 * calc(var(--spacing-xxxl) / 2));
                z-index: -1;
                top: calc(var(--spacing-xl) / 1.5);
            }
        }

        .traits {
            margin-left: calc(var(--spacing-xl) - 30px);

            .blob {
                position: absolute;
                z-index: -1;
                bottom: calc(var(--spacing-xl) * -1.3);
                left: calc(var(--spacing-xl) / -1);
            }

            .batiment {
                position: absolute;
                z-index: -2;
                left: calc(var(--spacing-xl) / -1);
                top: var(--spacing-xxl);
            }
        }
    }

    .hobbies {
        margin-top: var(--spacing-xxxl);
        position: relative;

        h4 {
            margin-bottom: var(--spacing-md);
        }

        p {
            font-size: var(--font-size-h2);
            font-weight: bold;
            font-family: var(--font-secondary);
            margin: 0;
        }

        span {
            color: var(--color-lines);
            background-color: var(--color-secondary-pale);
            font-size: calc(var(--font-size-h2) / 1.2);
            padding-top: 45px;
            cursor: pointer;
        }

        img {
            position: absolute;
            top: -135%;
            left: 50%;
        }
    }
}
