.info {
    --picture-height: 1000px;
    --space-top: 150px;
    margin-bottom: var(--space-top);
    overflow: hidden;

    .about {
        display: flex;
        gap: var(--spacing-md);
        position: relative;

        .photo_absolute {
            max-width: var(--picture-height);
            max-height: var(--picture-height);
            position: absolute;
            right: calc((-1 * var(--spacing-xl)) / 1.1);
            top: calc(var(--spacing-md) + var(--space-top));
        }

        .photo_inline {
            max-height: var(--picture-height);
            display: none;
        }

        h2 {
            margin-top: var(--space-top);
        }

        h2,
        p {
            max-width: calc(100% - calc(var(--picture-height) - 350px));
        }

        .grid_button_about {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            height: 20%;
            grid-template-areas: '. . . . . . . button . . . .';
            margin-top: var(--spacing-xxl);
            position: relative;
            z-index: 3;
        }

        .button {
            grid-area: button;
        }

        @media screen and (max-width: $breakpoint-xxl) {
            display: flex;
            justify-content: center;

            .about_content {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    align-self: flex-start;
                    padding-bottom: var(--spacing-lg);
                }

                .grid_button_about {
                    grid-template-areas: 'button . . . . . . . . . . .';
                    position: absolute;
                    top: var(--spacing-xxxl);
                    width: 100%;
                    margin-top: 0;
                }
            }

            h2,
            p {
                max-width: 100%;
            }

            p {
                //copier coller du style des cartes
                background-color: var(--color-bg-primary);
                border: 3px dashed var(--color-primary);
                padding: var(--spacing-lg);
                max-width: var(--cards-max-width);
                border-radius: 50px;
            }

            .photo_absolute {
                display: none;
            }

            .photo_inline {
                display: block;
            }
        }

        @media screen and (max-width: $breakpoint-xs) {
            .photo_inline {
                margin-right: calc(var(--spacing-xl) * -1.25);
                margin-bottom: calc(var(--spacing-lg) * -2);
            }

            .about_content {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    margin-top: calc(var(--spacing-lg) * 2);
                }

                .grid_button_about {
                    top: var(--spacing-xxl);
                }
            }

            p {
                //copier coller du style des cartes
                background-color: rgb(0, 0, 0, 0);
                border: 0px dashed var(--color-primary);
                padding: var(--spacing-lg) 0;
                border-radius: 0;
                margin: 0;
            }
        }
    }

    .likes_and_abilities {
        padding-top: calc(var(--spacing-xxl) + calc(var(--button-size) / 2));
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 585px;

        p {
            margin: 0;
        }

        .abilities {
            align-self: flex-end;
            width: 100%;
            overflow: hidden;
        }

        .blob_right {
            width: 70%;
            position: absolute;
            right: calc(var(--spacing-xxl) * -1);
            z-index: -1;
            top: calc(var(--spacing-xl) / 1.5);
        }

        .traits {
            margin-left: calc(var(--spacing-xl) - 30px);
        }

        .batiment {
            position: absolute;
            z-index: -2;
            left: calc(var(--spacing-xl) / -1);
            top: var(--spacing-xxl);

            @media screen and (max-width: $breakpoint-xl) {
                position: absolute;
                transform: scale(70%);
                top: 550px;
            }
        }

        .blob_left {
            width: 90%;
            position: absolute;
            z-index: -1;
            bottom: calc(var(--spacing-xl) * -1.3);
            left: calc(var(--spacing-xxl) * -1);
        }

        @media screen and (max-width: $breakpoint-xxl) {
            padding-top: var(--spacing-xxl);
        }

        @media screen and (max-width: $breakpoint-md) {
            gap: var(--spacing-md);
            padding-top: 0;

            .blob_right {
                top: calc(var(--spacing-xxxl) * -1);
                width: 90%;
                right: calc(var(--spacing-md) * -1);
            }

            .blob_left {
                bottom: calc(var(--spacing-xxl) * -1);
                width: 100%;
                left: calc(var(--spacing-md) * -1);
            }

            .batiment {
                display: none;
            }

            .traits {
                margin: 0;
                width: 100%;
            }
        }

        @media screen and (max-width: $breakpoint-xs) {
            .blob_right {
                top: calc(var(--spacing-md) * -1);
                width: 90%;
                right: calc(var(--spacing-md) * -1);
            }

            .blob_left {
                bottom: calc(var(--spacing-md) * -1);
                width: 100%;
                left: calc(var(--spacing-md) * -1);
            }
        }
    }

    .hobbies {
        margin-top: var(--spacing-xxxl);
        position: relative;
        user-select: none;

        h4 {
            margin-bottom: var(--spacing-md);
        }

        p {
            font-size: calc(var(--font-size-h2) / 1.5);
            font-weight: bold;
            font-family: var(--font-secondary);
            margin: 0;

            @media screen and (max-width: $breakpoint-md) {
                font-size: calc(var(--font-size-h2) / 2);
                display: flex;
                flex-direction: column;
                gap: var(--spacing-sm);
                margin-top: 100px;
            }
        }

        span {
            transition: all 0.5s $ease-out-expo;
            font-size: calc(var(--font-size-h2) / 1.5);
            padding: 45px var(--spacing-md) 0 var(--spacing-md);
            cursor: pointer;
            width: fit-content;

            @media screen and (max-width: $breakpoint-md) {
                font-size: calc(var(--font-size-h2) / 2);
                padding: 10px var(--spacing-sm) 0 var(--spacing-sm);
            }

            animation-name: changeColorAbout;
            animation-duration: 2000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            @keyframes changeColorAbout {
                0% {
                    color: var(--color-lines);
                    background-color: var(--color-secondary-pale);
                }
                50% {
                    background-color: var(--color-interaction);
                    color: var(--color-primary);
                }
                100% {
                    color: var(--color-lines);
                    background-color: var(--color-secondary-pale);
                }
            }
        }

        img {
            position: absolute;
            top: -435px;
            left: 50%;

            @media screen and (max-width: $breakpoint-md) {
                transform: scale(50%);
                top: -130px;
                left: 30%;
            }

            @media screen and (max-width: $breakpoint-sm) {
                transform: scale(50%);
                top: -130px;
                left: 25%;
            }

            @media screen and (max-width: $breakpoint-xs) {
                top: 0;
                left: 15%;
                height: 115%;
            }
        }

        @media screen and (max-width: $breakpoint-lg) {
            margin-top: 420px;
        }

        @media screen and (max-width: $breakpoint-md) {
            margin-top: var(--spacing-xl);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 300px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            padding-right: 100px;
        }

        @media screen and (max-width: $breakpoint-xs) {
            padding-right: 0;
        }
    }
}
