.button {
    //size and orientation:
    aspect-ratio: 1/ 1;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    //style
    border-radius: 50%;
    background-color: var(--color-button);
    color: var(--color-lines);
    border: solid 10px var(--color-lines);

    //font style
    text-transform: uppercase;
    font-family: 'manjari', sans-serif;
    padding-top: 10px;
    font-size: var(--font-size-button);

    //transition
    transition: all 0.5s $ease-out-expo;

    &:hover {
        //style:hover
        background-color: var(--color-interaction);
        border: solid 1px var(--color-lines);
        color: var(--color-primary);

        //font-style:hover
        font-size: calc(var(--font-size-button) * 1.2);
        font-weight: bold;
    }
}
