.button {
    //size and orientation:
    aspect-ratio: 1/ 1;
    max-width: var(--button-size);
    display: flex;
    justify-content: center;
    align-items: center;

    //style
    border-radius: 50%;
    background-color: var(--color-button);
    color: var(--color-lines);
    border: solid 10px var(--color-lines);
    cursor: pointer;

    //font style
    text-transform: uppercase;
    font-family: 'manjari', sans-serif;
    padding-top: 10px;
    font-size: var(--font-size-button);
    font-weight: bold;

    //transition
    transition: all 0.5s $ease-out-expo;

    &:hover {
        //style:hover
        background-color: var(--color-interaction);
        border: solid 1px var(--color-lines);
        color: var(--color-primary);

        //font-style:hover
        font-size: calc(var(--font-size-button) * 1.2);
        font-weight: bold;
    }
}

.button_contact {
    aspect-ratio: 1/1;
    max-width: 425px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px dashed var(--color-interaction);
    transition: all 0.5s $ease-out-expo;

    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    &:hover {
        border: 10px dashed rgb(0, 0, 0, 0);
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        width: 100%;
        max-width: 425px;
        max-height: 425px;
        border-radius: 50%;
        background-color: var(--color-button);
        border: 10px solid var(--color-lines);
        color: var(--color-interaction);
        transition: all 0.5s $ease-out-expo;
        padding: calc(var(--spacing-sm));
        font-size: calc(var(--font-size-button) * 1.4);

        animation-name: spin-reversed;
        animation-duration: 10000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @keyframes spin-reversed {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(-360deg);
            }
        }

        svg {
            transition: all 0.5s $ease-out-expo;
            max-height: 80%;
            max-width: 80%;
        }

        &:hover {
            //style:hover
            background-color: var(--color-interaction);
            border: solid 10px var(--color-interaction);
            color: var(--color-primary);

            //font-style:hover
            font-weight: bold;

            svg {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
