.cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 115px;

    a.card {
        max-width: 500px;
        display: block;

        &:hover {
            .card_content {
                text-decoration: none;
                color: var(--color-interaction);
            }
        }

        .card_media {
            height: 500px;
            img {
                object-fit: cover;
                height: 100%;
                display: block;
            }
        }
        .card_content {
            padding: var(--spacing-md);
            background-color: var(--color-primary);
            color: var(--color-white);

            .card_title {
                display: flex;
                gap: var(--spacing-sm);
                align-items: center;
            }

            .icon {
                height: 40px;
                width: 40px;
                color: var(--color-heart);
            }
        }
    }
}
