.contact {
    padding: var(--spacing-xl) 0;
    display: flex;
    gap: var(--spacing-md);
    overflow-x: hidden;

    .wrapper {
        max-width: 50%;

        @media screen and (max-width: $breakpoint-lg) {
            max-width: 100%;
        }
    }

    img {
        max-width: 40%;
        object-fit: cover;
        height: 50%;
        margin-top: var(--spacing-lg);

        @media screen and (max-width: $breakpoint-lg) {
            display: none;
        }
    }

    .button {
        margin-top: var(--spacing-lg);
        width: 100%;
    }

    @media screen and (max-width: $breakpoint-md) {
        padding: var(--spacing-lg) 0;
    }
}
