div.recent_recipes {
    padding: 100px 0;
}

div.all_recipes {
    padding: 100px 0;
}

div.cards_container {
    padding-top: 40px;
}

div.details {
    padding-top: 100px;

    p {
        margin: 0;
    }

    li.favorite {
        display: flex;
        gap: 10px;
        align-items: center;

        .icon {
            color: var(--color-heart);
            height: 20px;
            width: 20px;
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

div.description {
    padding: 30px 0;
}

div.steps {
    padding-bottom: 50px;
}

div.swiper-pagination {
    padding-bottom: 50px;
}
