footer {
    background-color: var(--color-primary);
    padding: 25px 0;
    .wrapper {
        color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copyright {
        margin: 0;
    }

    .socials {
        ul {
            display: flex;
            gap: 15px;
            list-style: none;
            margin: 0;
        }

        .social_link {
            background-color: var(--color-white);
            display: block;
            height: 100%;
            width: 100%;
            overflow: hidden;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: var(--color-interaction);
                .icon {
                    color: var(--color-white);
                }
            }

            .icon {
                color: var(--color-primary);
            }
        }

        .social {
            height: 30px;
            width: 30px;
        }

        .icon {
            color: var(--color-primary);

            &:hover {
                color: var(--color-white);
            }
        }
    }
}
