.hero {
    height: 100vh;
    position: relative;
    top: 0;
    margin-top: calc(var(--spacing-xl) * -1);
    @media screen and (max-height: calc($breakpoint-sm)) {
        margin-top: 0;
    }

    .wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: var(--spacing-md);
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1700px;
        height: 100%;

        :nth-child(1) {
            align-self: flex-start;
        }

        :nth-child(2) {
            //margin-left: calc(var(--spacing-xl) - 20px); <- a décommenter si flex marche pas
            align-self: center;
            margin-bottom: -25px;
            margin-top: 10px;
            @media screen and (max-width: calc($breakpoint-sm)) {
                margin-bottom: -10px;
            }
        }

        :nth-child(3) {
            //margin-left: calc((var(--spacing-xl) - 20px) * 2); <- a décommenter si flex marche pas
            align-self: flex-end;
        }
    }

    .hero_media {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;

        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }

    .shapes {
        position: absolute;
        top: -150px;
        left: 0;
        z-index: -1;
    }
}

.hero_project {
    height: 90vh;
    overflow: hidden;
    position: relative;
    top: 0;
    margin-top: calc(var(--spacing-xl) * -1);

    @media screen and (max-height: calc($breakpoint-sm)) {
        margin-top: 0;
    }

    h1 {
        font-size: var(--font-size-titres-liste);
    }

    .hero_content {
        width: 100%;
        max-width: 1920px;
        height: 100%;
        background: var(--color-gradient-project);

        .wrapper {
            justify-content: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            max-width: 100%;
        }
    }

    .softwares {
        display: flex;
        gap: var(--spacing-md);
    }

    .text_project_hero {
        max-width: 850px;
    }

    .hero_media {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 70%;
        top: 0;
        right: 0;

        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }
}
