.hero {
    height: calc(100vh - var(--spacing-xl));
    position: relative;
    top: 0;

    .wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: var(--spacing-md);
        margin-bottom: var(--spacing-xl);

        @media screen and (max-width: $breakpoint-md) {
            height: 50%;
        }
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1700px;
        height: 100%;

        .button_reel {
            align-self: flex-end;
            margin: var(--spacing-md) var(--spacing-md) 0 0;
            display: none;

            @media screen and (max-width: $breakpoint-md) {
                display: flex;
                opacity: 0;
                z-index: -10;
            }
        }

        :nth-child(2) {
            align-self: center;
            margin-bottom: -25px;
            margin-top: 10px;
            @media screen and (max-width: calc($breakpoint-sm)) {
                margin-bottom: -10px;
            }
        }

        :nth-child(3) {
            align-self: flex-end;
        }
    }

    .hero_media {
        position: absolute;
        z-index: -1;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        z-index: -2;
        margin-top: calc(120px * -1);

        video {
            object-fit: cover;
            width: 85%;
            min-height: 100%;
            filter: brightness(40%);

            @media screen and (max-width: $breakpoint-md) {
                width: 100%;
                filter: brightness(20%);
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }

    .shapes {
        position: absolute;
        top: -300px;
        left: 0;
        z-index: -1;

        @media screen and (max-width: $breakpoint-md) {
            display: none;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        height: calc(100vh - calc(var(--spacing-lg) * 2));
    }
}

.hero_project {
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    margin-top: calc(var(--spacing-xl) * -1);

    h1 {
        font-size: var(--font-size-titres-liste);
    }

    .hero_content {
        width: 100%;
        max-width: 1920px;
        height: 100%;
        background: var(--color-gradient-project);
        @media screen and (max-width: $breakpoint-sm) {
            background: rgb(0, 0, 0, 0);
        }

        .wrapper {
            justify-content: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            max-width: 100%;
        }
    }

    .softwares {
        display: flex;
        gap: var(--spacing-md);

        img {
            max-width: 100px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            gap: var(--spacing-sm);

            img {
                max-width: 50px;
            }
        }
    }

    .text_project_hero {
        max-width: 850px;
    }

    .hero_media {
        position: absolute;
        z-index: -1;
        height: calc(100% + var(--spacing-xl));
        width: 100%;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        z-index: -2;

        video {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
        }

        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }

        @media screen and (max-width: $breakpoint-sm) {
            filter: brightness(20%);
            width: 100%;
        }
    }
}
