.hero {
    height: 80vh;
    overflow: hidden;
    position: relative;
    top: 0;

    .hero_media {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }

    .hero_content {
        font-size: var(--font-size-h1);
        color: var(--color-white);
        height: 100%;
        max-width: 700px;
    }

    .wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        padding-left: 150px;
    }
}
