.projects_list {
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: var(--spacing-xxl);
        margin-right: 120px;

        @media screen and (max-width: $breakpoint-xl) {
            margin: 0;
        }

        @media screen and (max-width: $breakpoint-xs) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .projects_list_container {
        margin: var(--spacing-xl) 0;

        .wrapper {
            max-width: 1740px;
            width: 100%;
        }

        ul {
            padding-left: 15%;

            @media screen and (max-width: $breakpoint-md) {
                padding-left: 0;
            }
        }

        li {
            transition: all 1s $ease-out-expo;
            position: relative;
            list-style: none;
            border-top: 3px solid var(--color-primary);
            border-bottom: 3px solid var(--color-primary);

            &:first-child {
                border-top: 6px solid var(--color-primary);
            }

            &:last-child {
                border-bottom: 6px solid var(--color-primary);
            }

            &:hover {
                background: var(--color-gradient-project-list);

                .content_hover {
                    max-height: 100vh;
                }

                img {
                    opacity: 70%;
                }

                .button {
                    opacity: 100%;
                }
            }

            @media screen and (max-width: $breakpoint-md) {
                background: var(--color-gradient-project-list);

                .content_hover {
                    max-height: 100vh;
                }

                img {
                    opacity: 70%;
                }
            }

            @media screen and (max-width: $breakpoint-xs) {
                background: var(--color-gradient-project-list-mobile);
            }

            .item {
                color: inherit;
                transition: all 1s $ease-out-expo;
                height: 100%;
                width: 100%;
                padding: var(--spacing-md);
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    padding: calc(var(--spacing-lg) * 2) 0
                        calc(var(--spacing-lg) * 2) var(--spacing-md);
                }

                @media screen and (max-width: $breakpoint-md) {
                    padding: calc(var(--spacing-lg) * 2) 0
                        calc(var(--spacing-lg) * 2) var(--spacing-md);
                }

                @media screen and (max-width: $breakpoint-xs) {
                    padding: var(--spacing-md) var(--spacing-md)
                        var(--spacing-xxl) var(--spacing-md);
                    flex-direction: column;
                    gap: var(--spacing-md);
                }
            }

            .button {
                margin-right: var(--spacing-md);
                opacity: 0;

                @media screen and (max-width: $breakpoint-md) {
                    opacity: 100%;
                }
            }
        }

        .project_title {
            font-size: var(--font-size-titres-liste);
            font-weight: bold;
            font-family: var(--font-secondary);
            margin: 0;
            line-height: 1.3;
            max-width: 835px;

            @media screen and (max-width: $breakpoint-md) {
                max-width: 660px;
            }
        }

        .content_hover {
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s $ease-out-expo;
            h5 {
                margin: var(--spacing-sm) 0;
            }

            p {
                margin: 0;
            }
        }

        img {
            transition: all 0.5s $ease-out-expo;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 30px;
            overflow: hidden;
            width: 50%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            opacity: 0%;

            @media screen and (max-width: $breakpoint-xs) {
                top: 50%;
                width: 100%;
                height: 50%;
                border-radius: 0;
            }
        }

        @media screen and (max-width: $breakpoint-xs) {
            margin: var(--spacing-lg) 0;
        }
    }
}
