.introProject {
    padding: var(--spacing-xl) 0;
    .context {
        display: flex;
        gap: var(--spacing-md);
        margin-left: calc(var(--margin-left) * 2);
        padding-bottom: var(--spacing-sm);
    }

    .video {
        margin-left: var(--margin-left);
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding: var(--spacing-lg) 0 var(--spacing-xl) 0;

        .context {
            margin-left: 0;
        }

        .video {
            margin-left: 0;
        }
    }

    @media screen and (max-width: $breakpoint-xs) {
        .context {
            flex-direction: column;
            margin-bottom: var(--spacing-md);

            p {
                margin: 0;
            }
        }
    }
}

.sectionTitle {
    margin-left: var(--margin-left);
    position: relative;

    @media screen and (max-width: $breakpoint-sm) {
        margin-left: 0;
    }
}

.steps {
    h3 {
        margin: var(--spacing-sm) 0;
    }
    .wrapper {
        position: relative;
        .circle {
            left: 0px;
            top: -75px;

            @media screen and (max-width: $breakpoint-sm) {
                top: -25px;
            }
        }
    }
}

.circle {
    background-color: var(--color-lines);
    height: 200px;
    width: 200px;
    position: absolute;
    left: -85px;
    top: -50px;
    z-index: -1;
    border-radius: 50%;

    @media screen and (max-width: $breakpoint-sm) {
        top: -25px;
        left: 0;
        height: 100px;
        width: 100px;
    }
}

.disclaimer_content {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;

    h4 {
        color: var(--color-interaction);
    }
}
