::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-lines);
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: all 0.5s $ease-out-expo;
    background: var(--color-button);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-interaction);
}
