/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    line-height: 1.1;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 1;
    @media screen and (max-height: calc($breakpoint-sm)) {
        font-size: calc(var(--font-size-h1) * 0.9);
    }
}

h2 {
    font-size: var(--font-size-h2);
    @media screen and (max-height: calc($breakpoint-sm)) {
        font-size: calc(var(--font-size-h2) * 0.8);
    }
}

h3 {
    font-size: var(--font-size-h3);
    @media screen and (max-height: calc($breakpoint-sm)) {
        font-size: calc(var(--font-size-h3) * 0.8);
    }
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

em {
    font-style: italic;
}
