/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-xl;
    width: calc(100% - var(--spacing-xxxl));
    margin: 0 auto;
}
