/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #2d2d2d;
    --color-bg-primary: #e2e2e2;

    //Couleurs des call to action
    --color-interaction: orange;

    //Couleur icone
    --color-heart: #f24e1e;
}
