/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'Manjari', sans-serif;

    --font-size-content: #{typo(18px, 32px)};
    --font-size-content-liste: #{typo(18px, 36px)};

    /// Grosseur des textes

    --font-size-h1: #{typo(50px, 148px)};
    --font-size-h2: #{typo(60px, 128px)};
    --font-size-h3: #{typo(18px, 60px)};
    --font-size-h4: #{typo(32px, 48px)};
    --font-size-h5: #{typo(18px, 40px)};

    --font-size-titres-liste: #{typo(32px, 76px)};
    --font-size-button: #{typo(16px, 24px)};
    --font-size-logo: #{typo(28px, 42px)};
}
