{% include '_partials/_header.html' %}

<section id="home" class="hero_project">
    <div class="hero_content">
        <div class="wrapper" data-scrolly="fromLeft">
            <div class="text_project_hero">
                <h1>Courte vidéo en 3D: Un cadeau d'adieu</h1>
                <h5>Compétence(s): Montage Vidéo, 3D 🎥</h5>
                <p>Projet scolaire</p>
            </div>
            <div class="softwares">
                <img src="/assets/icons/blender.svg" alt="blender" />
                <img src="/assets/icons/aftereffect.svg" alt="after effects" />
            </div>
        </div>
    </div>
    <div class="hero_media">
        <img src="/assets/images/VignetteAdieu.png" alt="" />
    </div>
</section>

<section class="disclaimer" style="padding-top: 150px">
    <div class="wrapper">
        <div class="disclaimer_content">
            <h4 data-scrolly="zoom">AVERTISSEMENT</h4>
            <p data-scrolly="zoom">
                En raison d'un malheureux accident impliquant mon disque dur externe, je n'ai plus accès aux fichiers de
                ce projet. Je compte tenter de récupérer les fichiers perdus, mais pour le moment, veuillez excuser
                l'absence d'images et de documentation.
            </p>
        </div>
    </div>
</section>

<section class="introProject">
    <div class="wrapper">
        <div class="sectionTitle">
            <h2>Résumé</h2>
            <div class="circle"></div>
        </div>
        <div class="context">
            <p data-scrolly="fromLeft">
                Ce projet avait pour but nous apprendre à
                <span>utiliser une photo pour texturer une scène 3D via projection</span>.
            </p>
            <p data-scrolly="fromLeft">
                Le thème était "lieu d'épouvante", alors je me suis <span>inspiré des films d'horreurs</span> en prenant
                comme idée l'exploration d'un cimetierre.
            </p>
        </div>
        <div class="video" data-component="YouTube" data-youtube-id="8URHwRSNqx8" data-no-repeat="" data-scrolly="zoom">
            <div class="youtube__media js-video-youtube">
                <img class="js-poster" src="assets/images/VignetteAdieu.PNG" alt="Video" />
                <img src="assets/images/play.svg" alt="" class="icon" />
            </div>
        </div>
    </div>
</section>

<section class="steps" data-component="Modale">
    <div class="wrapper">
        <!-- Slider main container -->
        <div class="swiper" data-component="Carousel">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 1: Sélection de photo et Idéation</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                J'ai tout d'abord réfléchis à ce que je voulais faire en
                                <span>m'inspirant de divers extrait de films d'horreur en ligne.</span>
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/error.jpg" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 2: Modélisation et Projection</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                Le première étape fût d'utliser un site pour
                                <span>calculer la position de la caméra selon la photo</span>.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                Par la suite,
                                <span>depuis la vue caméra, j'ai placer et modéliser les tombes</span>
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Projection de l'image</span> sur les surface des element 3D via une
                                <span>texture qui utilise l'image en "project as view".</span>
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                Note: Les arbres, les pelles, le pot de fleurs et le bras sont des assets qui ne
                                m'appartiennent pas.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/error.jpg" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 3: Éclairage et Animation</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Placement de plusieurs sources de lumières</span> dans le but de garder la scène
                                sombre, mais visible.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Animation de la caméra ainsi que de la source de lumière sous celle-ci</span>. Les
                                rotations sont appliquer sur la caméra et la lumière, pendant qu'un objet parent vide se
                                déplace.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/error.jpg" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 4: Exportation et Montage final</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Création des animations.</span>
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Enregistrement et traitement des vidéos et de la voix de fond</span> (incluant les
                                extraits filmé par le président).
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Montage dans Premiere et exportation via Media encoder.</span>
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/error.jpg" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="circle"></div>
    </div>
</section>

<section class="disclaimer">
    <div class="wrapper">
        <div class="disclaimer_content">
            <h4 data-scrolly="zoom">Disclaimer</h4>
            <p data-scrolly="zoom">
                Projet fictif réalisé en techniques d'intégration multimédia du Cégep Édouard-Montpetit, sans but
                commercial. Les marques commerciales et les droits d'auteur sont la propriété de leurs propriétaires
                respectifs.
            </p>
            <p data-scrolly="zoom">
                Student project carried out in multimedia integration techniques at Cégep Édouard-Montpetit, without
                commercial purpose. Trademarks and copyrights are properties of their respective owners.
            </p>
        </div>
    </div>
</section>

<div class="modale">
    <div class="modale_container" data-scrolly="zoom">
        <div class="modale_media"></div>
        <p>
            Le média ne s'affiche pas ou <br />
            tournez votre téléphone en mode paysage
        </p>
    </div>
</div>

{% include '_partials/_footer.html' %}
