{% include '_partials/_header.html' %}

<section id="home" class="hero_project">
    <div class="hero_content">
        <div class="wrapper" data-scrolly="fromLeft">
            <div class="text_project_hero">
                <h1>Courte vidéo en 3D: Le coffre maudit</h1>
                <h5>Compétence(s): Montage Vidéo, 3D 🎥</h5>
                <p>Projet scolaire final</p>
            </div>
            <div class="softwares">
                <img src="/assets/icons/blender.svg" alt="blender" />
                <img src="/assets/icons/aftereffect.svg" alt="after effects" />
            </div>
        </div>
    </div>
    <div class="hero_media">
        <img src="/assets/images/VignetteCoffre.png" alt="" />
    </div>
</section>

<section class="introProject">
    <div class="wrapper">
        <div class="sectionTitle">
            <h2>Résumé</h2>
            <div class="circle"></div>
        </div>
        <div class="context">
            <p data-scrolly="fromLeft">
                Ce projet est le <span>projet final de mon premier cours de 3D</span> au cégep, et mon initiation à
                l'éclairage plus complexe.
            </p>
            <p data-scrolly="fromLeft">
                Ayant réalisé très peu de projet à thème horreur à l'époque,
                <span>j'ai voulu jouer avec le mystère et le suspense.</span>
            </p>
        </div>
        <div class="video" data-component="YouTube" data-youtube-id="58Kbsoh6Zqg" data-no-repeat="" data-scrolly="zoom">
            <div class="youtube__media js-video-youtube">
                <img class="js-poster" src="assets/images/VignetteCoffre.PNG" alt="Video" />
                <img src="assets/images/play.svg" alt="" class="icon" />
            </div>
        </div>
    </div>
</section>

<section class="steps" data-component="Modale">
    <div class="wrapper">
        <!-- Slider main container -->
        <div class="swiper" data-component="Carousel">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 1: Idéation et scénarimage</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                J'ai commencé par <span>m'inspirer en explorant sur Pinterest</span> plusieurs
                                illustrations à thème "horreur".
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                Par la suite, <span>j'ai dessiné un scénarimage digital</span> pour exprimer mon idée et
                                avoir des commentaires.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/Coffre1.png" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 2: Modélisation et premier jet</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                J'avais environ 1 semaine et demi pour créer un <span>premier jet primitif</span> de mon
                                idée.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                Le premier jet incluait aussi
                                <span>une recherche de sons et musiques et l'intégration de ces derniers</span> dans le
                                projet.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/Coffre2.png" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 3: Modélisation finale, Éclairage et Animation</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Modélisations des éléments de la scène</span> avec l'aide de tutoriels
                                (description de la vidéo), à l'exception du texturage.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Placement de quelques sources de lumières</span> dans le but d'<span
                                    >expérimenter avec les éclairages complexes.</span
                                >
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Animation des divers élements de la scène.</span></p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/Coffre3.png" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 4: Exportation et Montage final</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Exportation de l'animation complète</span> (séquence d'images).</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span
                                    >Montage (majoritairement sonore) dans After Effects et exportation via Media
                                    Encoder.</span
                                >
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/Coffre4.png" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="circle"></div>
    </div>
</section>

<section class="disclaimer">
    <div class="wrapper">
        <div class="disclaimer_content">
            <h4 data-scrolly="zoom">Disclaimer</h4>
            <p data-scrolly="zoom">
                Projet fictif réalisé en techniques d'intégration multimédia du Cégep Édouard-Montpetit, sans but
                commercial. Les marques commerciales et les droits d'auteur sont la propriété de leurs propriétaires
                respectifs.
            </p>
            <p data-scrolly="zoom">
                Student project carried out in multimedia integration techniques at Cégep Édouard-Montpetit, without
                commercial purpose. Trademarks and copyrights are properties of their respective owners.
            </p>
        </div>
    </div>
</section>

<div class="modale">
    <div class="modale_container" data-scrolly="zoom">
        <div class="modale_media"></div>
        <p>
            Le média ne s'affiche pas ou <br />
            tournez votre téléphone en mode paysage
        </p>
    </div>
</div>

{% include '_partials/_footer.html' %}
