{% include '_partials/_header.html' %}

<section id="home" class="hero_project">
    <div class="hero_content">
        <div class="wrapper" data-scrolly="fromLeft">
            <div class="text_project_hero">
                <h1>Design et intégration de mon portfolio</h1>
                <h5>Compétence(s): Intégration web, Design 🖥️</h5>
                <p>Projet scolaire</p>
            </div>
            <div class="softwares">
                <img src="/assets/icons/VSCode.svg" alt="VSCode" />
                <img src="/assets/icons/figma.svg" alt="Figma" />
            </div>
        </div>
    </div>
    <div class="hero_media">
        <img src="/assets/images/ResponsivePortfolioGif.gif" alt="" />
    </div>
</section>

<section class="introProject">
    <div class="wrapper">
        <div class="sectionTitle">
            <h2>Résumé</h2>
            <div class="circle"></div>
        </div>
        <div class="context">
            <p data-scrolly="fromLeft">
                Ce projet est particulièrement
                <span>important pour moi car je suis le secrétaire de cette association étudiante.</span>
            </p>
            <p data-scrolly="fromLeft">
                Donc j'ai créé une <span>vidéo de présentation</span>, faisant de ce travail
                <span>mon premier projet pour un client !</span>
            </p>
        </div>
        <div class="video" data-component="YouTube" data-youtube-id="earuc5nDPVk" data-no-repeat="" data-scrolly="zoom">
            <div class="youtube__media js-video-youtube">
                <img class="js-poster" src="assets/images/videoAtim.png" alt="Video" />
                <img src="assets/images/play.svg" alt="" class="icon" />
            </div>
        </div>
    </div>
</section>

<section class="steps">
    <div class="wrapper">
        <!-- Slider main container -->
        <div class="swiper" data-component="Carousel">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 1: Établir Profil</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Remplissage d'un questionaire</span> dans le but d'établir mon profil
                                professionel.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Recherche de 3 projets</span> à mettre dans mon portfolio.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/ProfilPortfolioGif.gif" alt="" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 2: Design</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Choix de 3 sources d'inspiration</span> et création d'un moodboard</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Design du portfolio</span> à partir du profil établie et des inspirations choisis.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <div class="slide_media" data-scrolly="zoom">
                            <img src="/assets/images/DesignPortfolio.gif" alt="" class="has_modale" />
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 3: Intégration et Responsive</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Intégration de mon portfolio</span> incluant les couleurs, images, la photo
                                professionel, les projets, etc.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Programation du responsive pour toute les pages.</span>
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/ResponsivePortfolioGif.gif" alt="" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 4: Paufinement</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Paufinement du portfolio</span>, incluant l'ajout de petites choses personalisé.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Optimisation et assurance qualité</span> du portfolio.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">Pas d'image pour le moment, car projet en cours.</div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="circle"></div>
    </div>
</section>

<div class="modale">
    <div class="modale_container">
        <p>
            Le media ne s'affiche pas ou <br />
            tournez votre téléphone en mode paysage
        </p>
        <img src="/assets/images/montageVideoAtim.gif" alt="" class="modale_media" />
    </div>
</div>

{% include '_partials/_footer.html' %}
