{% include '_partials/_header.html' %}

<section id="home" class="hero_project">
    <div class="hero_content">
        <div class="wrapper" data-scrolly="fromLeft">
            <div class="text_project_hero">
                <h1>Design et intégration de mon portfolio</h1>
                <h5>Compétence(s): Intégration web, Design 🖥️</h5>
                <p>Projet scolaire</p>
            </div>
            <div class="softwares">
                <img src="/assets/icons/VSCode.svg" alt="VSCode" />
                <img src="/assets/icons/figma.svg" alt="Figma" />
            </div>
        </div>
    </div>
    <div class="hero_media">
        <video autoplay muted loop>
            <source src="/assets/videos/ResponsivePortfolioGif.mp4" type="video/mp4" />
            <p>
                Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                <a href="/assets/videos/ResponsivePortfolioGif.mp4">un lien pour télécharger la vidéo</a>.
            </p>
        </video>
    </div>
</section>

<section class="introProject">
    <div class="wrapper">
        <div class="sectionTitle">
            <h2>Résumé</h2>
            <div class="circle"></div>
        </div>
        <div class="context">
            <p data-scrolly="fromLeft">
                Ce projet est LE projet qui représente la <span>cumulation de mon apprentissage</span> au cégep. J'y ai
                mit tout mon temps et mon coeur.
            </p>
            <p data-scrolly="fromLeft">
                Alors j'espère que vous aimer naviguer sur mon portfolio, parce que j'en suis particulièrement fier.
                <span>Merci</span> de prendre le temps de le regarder. ❤️
            </p>
        </div>
        <a href="index.html" class="button">Accueil</a>
    </div>
</section>

<section class="steps">
    <div class="wrapper">
        <!-- Slider main container -->
        <div class="swiper" data-component="Carousel">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 1: Établir Profil</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Remplissage d'un questionnaire</span> dans le but d'établir mon profil
                                professionel.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Recherche de 3 projets</span> à mettre dans mon portfolio.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <video autoplay muted loop>
                            <source src="/assets/videos/ProfilPortfolioMp4.mp4" type="video/mp4" />
                            <p>
                                Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                                <a href="/assets/videos/ProfilPortfolioMp4.mp4">un lien pour télécharger la vidéo</a>.
                            </p>
                        </video>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 2: Design</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Choix de 3 sources d'inspiration</span> et création d'un moodboard</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Design du portfolio</span> à partir du profil établi et des inspirations choisies.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <video autoplay muted loop>
                            <source src="/assets/videos/DesignPortfolio.mp4" type="video/mp4" />
                            <p>
                                Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                                <a href="/assets/videos/DesignPortfolio.mp4">un lien pour télécharger la vidéo</a>.
                            </p>
                        </video>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 3: Intégration et Responsive</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Intégration de mon portfolio</span> incluant les couleurs, images, la photo
                                professionelle, les projets, etc.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Programmation du responsive pour toute les pages.</span>
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <video autoplay muted loop>
                            <source src="/assets/videos/ResponsivePortfolioGif.mp4" type="video/mp4" />
                            <p>
                                Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                                <a href="/assets/videos/ResponsivePortfolioGif.mp4">un lien pour télécharger la vidéo</a
                                >.
                            </p>
                        </video>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 4: Peaufinement</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Peaufinement du portfolio</span>, incluant l'ajout de choses personalisées.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Optimisation et assurance qualité</span> du portfolio.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">Pas d'image pour le moment, car projet en cours.</div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="circle"></div>
    </div>
</section>

<div class="modale">
    <div class="modale_container">
        <p>
            Le media ne s'affiche pas ou <br />
            tournez votre téléphone en mode paysage
        </p>
        <img src="/assets/images/montageVideoAtim.gif" alt="" class="modale_media" />
    </div>
</div>

{% include '_partials/_footer.html' %}
