{% include '_partials/_header.html' %}

<section id="home" class="hero_project">
    <div class="hero_content">
        <div class="wrapper" data-scrolly="fromLeft">
            <div class="text_project_hero">
                <h1>Site web réalisé lors du WebJam 2024</h1>
                <h5>Compétence(s): Intégration Web, Design 🖥️</h5>
                <p>Projet scolaire</p>
            </div>
            <div class="softwares">
                <img src="/assets/icons/VSCode.svg" alt="VScode" />
                <img src="/assets/icons/figma.svg" alt="Figma" />
            </div>
        </div>
    </div>
    <div class="hero_media">
        <video autoplay muted loop>
            <source src="/assets/videos/ReelWJ.mp4" type="video/mp4" />
            <p>
                Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                <a href="/assets/videos/ReelWJ.mp4">un lien pour télécharger la vidéo</a>.
            </p>
        </video>
    </div>
</section>

<section class="introProject">
    <div class="wrapper">
        <div class="sectionTitle">
            <h2>Résumé</h2>
            <div class="circle"></div>
        </div>
        <div class="context">
            <p data-scrolly="fromLeft">
                Ce projet est réalisé
                <span>dans le cadre d'un événement se nommant le webjam.</span>
            </p>
            <p data-scrolly="fromLeft">
                Ce projet est mon tout premier projet <span>d'intégration de site web en équipe</span>, réaliser avec
                Emmy Fortin, Emile Tardif et Jacky Southiphonh.
            </p>
        </div>
        <a href="https://etardif.dectim.ca/webjam/" class="button">Voir Site</a>
    </div>
</section>

<section class="steps">
    <div class="wrapper">
        <!-- Slider main container -->
        <div class="swiper" data-component="Carousel">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 1: Organisation</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>Avant le webjam, <span>création du figma et rejoindre notre équipe github.</span></p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Création d'un Trello d'équipe</span> pour l'organisation des tâches.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Pratique de l'événement en classe</span>, puis ajustements.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/TrelloWJ.png" alt="" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 2: Design et Contenus</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Je faisais le design du projet avec Emmy Fortin (wireframe + Design).</span></p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                Pendant ce temps, Emile Tardif et Jacky Southiphonh faisaient le contenus du site
                                (textes et images)
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/DesignWJ.png" alt="" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 3: Intégration et Design</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>Emile Tardif et Jacky ont commencé l'intégration.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span
                                    >Une fois le design terminé, moi et Emmy sommes passé nous aussi à
                                    l'intégration.</span
                                >
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <video autoplay muted loop class="has_modale">
                            <source src="/assets/videos/codeWJmp4.mp4" type="video/mp4" />
                            <p>
                                Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                                <a href="/assets/videos/codeWJmp4.mp4">un lien pour télécharger la vidéo</a>.
                            </p>
                        </video>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 4: Wordpress et Responsive</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>Emile Tardif s'est occupé du wordpress et de la mise en ligne.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Le reste de l'équipe</span>, incluant moi-même,
                                <span>travaillions sur le responsive et l'assurance qualité.</span>
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                <span>Les crédits peuvent être trouvé dans le footer du projet.</span>
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <video autoplay muted loop class="has_modale">
                            <source src="/assets/videos/ResponsiveWJmp4.mp4" type="video/mp4" />
                            <p>
                                Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                                <a href="/assets/videos/ResponsiveWJmp4.mp4">un lien pour télécharger la vidéo</a>.
                            </p>
                        </video>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="circle"></div>
    </div>
</section>

<section class="disclaimer">
    <div class="wrapper">
        <div class="disclaimer_content">
            <h4 data-scrolly="zoom">Disclaimer</h4>
            <p data-scrolly="zoom">
                Projet étudiant réalisé en techniques d'Intégration multimédia du Cégep Édouard-Montpetit, sans but
                commercial. Les marques commerciales et les droits d'auteur sont la propriété de leurs propriétaires
                respectifs.
            </p>
            <p data-scrolly="zoom">
                Student project carried out in multimedia integration techniques at Cégep Édouard-Montpetit, without
                commercial purpose. Trademarks and copyrights are properties of their respective owners.
            </p>
        </div>
    </div>
</section>

<div class="modale">
    <div class="modale_container">
        <p>
            Le media ne s'affiche pas ou <br />
            tournez votre téléphone en mode paysage
        </p>
        <img src="" alt="" class="modale_media" />
    </div>
</div>

{% include '_partials/_footer.html' %}
