{% include '_partials/_header.html' %}

<section id="home" class="hero_project">
    <div class="hero_content">
        <div class="wrapper" data-scrolly="fromLeft">
            <div class="text_project_hero">
                <h1>Design et prototypage d'une application fictive</h1>
                <h5>Compétence(s): Design 🎨</h5>
                <p>Projet scolaire final</p>
            </div>
            <div class="softwares">
                <img src="/assets/icons/figma.svg" alt="Figma" />
            </div>
        </div>
    </div>
    <div class="hero_media">
        <img src="/assets/images/VignetteRouetine.png" alt="" />
    </div>
</section>

<section class="introProject">
    <div class="wrapper">
        <div class="sectionTitle">
            <h2>Résumé</h2>
            <div class="circle"></div>
        </div>
        <div class="context">
            <p data-scrolly="fromLeft">
                Ce projet est le projet du dernier cours de design, <span>cumulant design UI, UX et esthétique.</span>
            </p>
            <p data-scrolly="fromLeft">
                Bien que je me sois amélioré depuis, ce projet représente
                <span>le résultat final de mon apprentissage en Design</span> lors de mon programme.
            </p>
        </div>
        <a
            href="https://www.figma.com/design/Z8QiIPaxavSR1Y9Wk4vry5/1011_laferriere_mikael_TP03?node-id=74-55&t=XdxDGyw0JyDIFgb0-1"
            class="button"
            >Voir Fichier</a
        >
    </div>
</section>

<section class="steps">
    <div class="wrapper">
        <!-- Slider main container -->
        <div class="swiper" data-component="Carousel">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 1: Contenus</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Création des contenus</span> en avance selon les critères du professeur.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/Content.png" alt="" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 2: Wireframe</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Création du wireframe</span> pour le projet.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/Wireframe.png" alt="" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 3: Design et prototypage</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Appliquer les couleurs, les typos, les textes et les images officielles.</span></p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p><span>Prototypage du design.</span></p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <video autoplay muted loop>
                            <source src="/assets/videos/ApplyStyle.mp4" type="video/mp4" />
                            <p>
                                Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                                <a href="/assets/videos/ApplyStyle.mp4">un lien pour télécharger la vidéo</a>.
                            </p>
                        </video>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="circle"></div>
    </div>
</section>

<section class="disclaimer">
    <div class="wrapper">
        <div class="disclaimer_content">
            <h4 data-scrolly="zoom">Disclaimer</h4>
            <p data-scrolly="zoom">
                Projet étudiant réalisé en techniques d'Intégration multimédia du Cégep Édouard-Montpetit, sans but
                commercial. Les marques commerciales et les droits d'auteur sont la propriété de leurs propriétaires
                respectifs.
            </p>
            <p data-scrolly="zoom">
                Student project carried out in multimedia integration techniques at Cégep Édouard-Montpetit, without
                commercial purpose. Trademarks and copyrights are properties of their respective owners.
            </p>
        </div>
    </div>
</section>

<div class="modale">
    <div class="modale_container">
        <p>
            Le media ne s'affiche pas ou <br />
            tournez votre téléphone en mode paysage
        </p>
        <img src="" alt="" class="modale_media" />
    </div>
</div>

{% include '_partials/_footer.html' %}
