{% include '_partials/_header.html' %}

<section id="home" class="hero_project">
    <div class="hero_content">
        <div class="wrapper">
            <div class="text_project_hero">
                <h1>Montage d’une vidéo de présentation pour l’Atim</h1>
                <h5>Compétence(s): Montage Vidéo 🎥</h5>
                <p>Projet scolaire final</p>
            </div>
            <div class="softwares">
                <img src="/assets/icons/premiere.svg" alt="Premiere" />
                <img src="/assets/icons/figma.svg" alt="Figma" />
            </div>
        </div>
    </div>
    <div class="hero_media">
        <img src="assets/images/videoAtim.png" alt="thumbnail" />
    </div>
</section>

{% include '_partials/_footer.html' %}
