{% include '_partials/_header.html' %}

<section id="home" class="hero">
    <div class="hero_content">
        <div class="wrapper">
            <h3>Portfolio de</h3>
            <h1>Mikaël Laferrière</h1>
            <h3>Apprenti Intégrateur web et Créateur média</h3>

            <a href="#info" class="button">À propos</a>
        </div>
    </div>
    <div class="shapes">
        <svg class="icon icon--xxl">
            <use xlink:href="#icon-shapes_home"></use>
        </svg>
    </div>
    <video src=""></video>
</section>

{% include '_partials/_footer.html' %}
