{% include '_partials/_header.html' %}

<section id="home" class="hero">
    <div class="hero_content">
        <a href="youtube.com" class="button button_reel">Voir Reel</a>
        <div class="wrapper" data-scrolly="fromLeft">
            <h3>Portfolio de</h3>
            <h1>Mikaël Laferrière</h1>
            <h3>Apprenti Intégrateur web et Créateur média</h3>

            <a href="#projects" class="button">Projets</a>
        </div>
    </div>
    <div class="shapes">
        <img src="/assets/icons/shapes_home.svg" alt="" />
    </div>
    <div class="hero_media">
        <video autoplay muted loop>
            <source src="/assets/videos/ReelAccueil.mp4" type="video/mp4" />
            <p>
                Votre navigateur ne prend pas en charge les vidéos HTML5. Voici
                <a href="/assets/videos/ReelAccueil.mp4">un lien pour télécharger la vidéo</a>.
            </p>
        </video>
    </div>
</section>

<section class="info" id="info">
    <div class="wrapper">
        <div class="about">
            <div class="about_content">
                <h2 data-scrolly="fromLeft">Qui suis-je?</h2>
                <img src="/assets/images/photoPro.png" alt="" class="photo_inline" data-scrolly="fromRight" />
                <p data-scrolly="fromLeft">
                    Salut, bonjour, bonsoir! Je suis <span>Mikaël Laferrière, une âme passionée</span> qui souhaite
                    aider à <span>créer des choses merveilleuses</span> en ce monde d’asphalte et de bâtiments gris
                    (Longueuil), parce qu’on peut <span>toujours avoir un peu plus de fun dans la vie!</span> J’aime à
                    peu près tout (sauf le brocoli), et j’adore partager ma <span>joie de vivre</span> avec les autres.
                    J’espère vous rencontrez bientôt et qu’on pourra bien s’entendre, vous et moi :)
                </p>
                <div class="grid_button_about" data-scrolly="fromBottom">
                    <a href="#projects" class="button">Projets</a>
                </div>
            </div>
            <img src="/assets/images/photoPro.png" alt="" class="photo_absolute" data-scrolly="fromRight" />
        </div>
        <div class="likes_and_abilities">
            <div class="card_bullet_point abilities" data-scrolly="fromRight">
                <h3>Ce que je fait</h3>
                <hr class="border_title" />
                <div class="bullet_point">
                    <p><span>Design</span> (Figma, Illustrator)</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p><span>Web</span> (html, css, javascript, php)</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p><span>Audio et vidéo</span> (Audition, Premiere)</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p><span>Assurance qualité</span> (✨Perfectionisme✨)</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="card_bullet_point traits" data-scrolly="fromLeft">
                <h3>Ce que je suis</h3>
                <hr class="border_title" />
                <div class="bullet_point">
                    <p>Un <span>team player</span> 💪</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p>Un <span>grand curieux</span> 👀</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p>Une <span>âme créative</span> 🎨</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p>Un <span>homme joyeux ouvert d’esprit!</span> 😊</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <img src="/assets/images/gifBatiment.gif" alt="" class="batiment" />
            <img src="/assets/images/blob_traits.png" alt="" class="blob_left" />
            <img src="/assets/images/blob_abilities.png" alt="" class="blob_right" />
        </div>
        <div
            class="hobbies"
            data-component="ChangeText"
            data-texts="les jeux de tables! 🎲, la bonne musique~ 🎶, l'art en général 🖼️, explorer autour... 🐈‍⬛"
            data-scrolly="fromBottom"
        >
            <h4>Quelques hobbies à moi:</h4>
            <p>J'aime <span class="text">les jeux de tables 🎲</span></p>
            <img src="/assets/images/game.png" alt="" class="illustration" />
        </div>
    </div>
</section>

<section class="projects_list" id="projects">
    <div class="wrapper">
        <div class="title">
            <h2 data-scrolly="fromLeft">Mes Projets</h2>
            <a href="#contact" class="button" data-scrolly="fromRight">Contact</a>
        </div>
    </div>
    <div class="projects_list_container">
        <div class="wrapper">
            <ul>
                <li>
                    <a href="webjam.html" class="item">
                        <div class="content">
                            <p class="project_title" data-scrolly="fromLeft">Site web réalisé lors du WebJam 2024</p>
                            <div class="content_hover" data-scrolly="fromLeft">
                                <h5>Compétence(s): <span>Intégration Web, Design</span> 🖥️</h5>
                                <p>Projet <span>scolaire</span></p>
                            </div>
                            <video autoplay muted loop>
                                <source src="/assets/videos/ReelWJ.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div href="gabaritWebjam.html" class="button" data-scrolly="fromRight">Voir +</div>
                    </a>
                </li>
                <li>
                    <a href="video_presentation_atim.html" class="item">
                        <div class="content">
                            <p class="project_title" data-scrolly="fromLeft">
                                Montage d’une vidéo de présentation pour l’Atim
                            </p>
                            <div class="content_hover" data-scrolly="fromLeft">
                                <h5>Compétence(s): <span>Montage Vidéo</span> 🎥</h5>
                                <p>Projet <span>scolaire final</span></p>
                            </div>
                            <img src="/assets/images/videoAtim.png" alt="" />
                        </div>
                        <div href="gabaritVidAtim.html" class="button" data-scrolly="fromRight">Voir +</div>
                    </a>
                </li>
                <li>
                    <a href="court_metrage_3D.html" class="item">
                        <div class="content">
                            <p class="project_title" data-scrolly="fromLeft">
                                Court métrage en 3D: la pêche et le poisson
                            </p>
                            <div class="content_hover" data-scrolly="fromLeft">
                                <h5>Compétence(s): <span>Modélisation 3D</span> 🪨</h5>
                                <p>Projet <span>scolaire final</span></p>
                            </div>
                            <video autoplay muted loop>
                                <source src="/assets/videos/mp4DuGif3D.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div href="gabaritFinal3D.html" class="button" data-scrolly="fromRight">Voir +</div>
                    </a>
                </li>

                <li>
                    <a href="roue-tine.html" class="item">
                        <div class="content">
                            <p class="project_title" data-scrolly="fromLeft">
                                Design et prototypage d'une application fictive
                            </p>
                            <div class="content_hover" data-scrolly="fromLeft">
                                <h5>Compétence(s): <span>Design</span> 🎨</h5>
                                <p>Projet <span>scolaire final</span></p>
                            </div>
                            <img src="/assets/images/VignetteRouetine.png" alt="" />
                        </div>
                        <div href="gabaritDesign.html" class="button" data-scrolly="fromRight">Voir +</div>
                    </a>
                </li>
                <li>
                    <a href="developement_portfolio.html" class="item">
                        <div class="content">
                            <p class="project_title" data-scrolly="fromLeft">Design et intégration de mon portfolio</p>
                            <div class="content_hover" data-scrolly="fromLeft">
                                <h5>Compétence(s): <span>Intégration web, Design</span> 🖥️</h5>
                                <p>Projet <span>scolaire final</span></p>
                            </div>
                            <video autoplay muted loop>
                                <source src="/assets/videos/ResponsivePortfolioGif.mp4" type="video/mp4" />
                            </video>
                        </div>
                        <div href="gabaritPortfolio.html" class="button" data-scrolly="fromRight">Voir +</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="introduction_video">
    <div class="wrapper">
        <h2>Moi, en vidéo</h2>
        <div class="video" data-component="YouTube" data-youtube-id="FZUUaNLEueY" data-no-repeat="" data-scrolly="zoom">
            <div class="youtube__media js-video-youtube">
                <img class="js-poster" src="assets/images/VignetteVidéoIntro.png" alt="Video" />
                <img src="assets/images/play.svg" alt="" class="icon" />
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
