{% include '_partials/_header.html' %}

<section id="home" class="hero">
    <div class="hero_content">
        <div class="wrapper">
            <h3>Portfolio de</h3>
            <h1>Mikaël Laferrière</h1>
            <h3>Apprenti Intégrateur web et Créateur média</h3>

            <a href="#info" class="button">À propos</a>
        </div>
    </div>
    <div class="shapes">
        <img src="/assets/icons/shapes_home.svg" alt="" />
    </div>
    <video src=""></video>
</section>

<section class="info" id="info">
    <div class="wrapper">
        <div class="about">
            <div class="about_content">
                <h2>Qui suis-je?</h2>
                <p>
                    Salut, bonjour, bonsoir! Je suis <span>Mikaël Laferrière, une âme passionée</span> qui souhaite
                    aider à <span>créer des choses merveilleuses</span> en ce monde d’asphalte et de batiments gris
                    (Longueuil), parce qu’on peut <span>toujours avoir un peu plus de fun dans la vie!</span> J’aime à
                    peu près tout (sauf le brocoli), et j’adore partager ma <span>joie de vivre</span> avec les autres.
                    J’espère vous rencontrez bientôt et qu’on pourra bien s’entendre, vous et moi :)
                </p>
                <div class="grid_button_about">
                    <a href="#projects" class="button">Projets</a>
                </div>
            </div>
            <img src="/assets/images/photoPro.png" alt="" class="photo" />
        </div>
        <div class="likes_and_abilities">
            <div class="card_bullet_point abilities">
                <h3>Ce que je fait</h3>
                <hr class="border_title" />
                <div class="bullet_point">
                    <p><span>Design</span> (Figma, Illustrator)</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p><span>Web</span> (html, css, javascript, php)</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p><span>Audio et vidéo</span> (Audition, Premiere)</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p><span>Assurance qualité</span> (✨Perfectionisme✨)</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <img src="/assets/images/blob_abilities.png" alt="" class="blob" />
            </div>
            <div class="card_bullet_point traits">
                <h3>Ce que je suis</h3>
                <hr class="border_title" />
                <div class="bullet_point">
                    <p>Un <span>team player</span> 💪</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p>Un <span>grand curieux</span> 👀</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p>Une <span>âme créative</span> 🎨</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <div class="bullet_point">
                    <p>Un <span>homme joyeux ouvert d’esprit!</span> 😊</p>
                    <div class="bullet">
                        <svg class="icon icon--xxl icon-polygon">
                            <use xlink:href="#icon-bullet_polygon"></use>
                        </svg>
                        <svg class="icon icon--xxl icon-star">
                            <use xlink:href="#icon-bullet_star"></use>
                        </svg>
                    </div>
                </div>
                <img src="/assets/images/blob_traits.png" alt="" class="blob" />
                <img src="/assets/images/gifBatiment.gif" alt="" class="batiment" />
            </div>
        </div>
        <div
            class="hobbies"
            data-component="ChangeText"
            data-texts="les jeux de tables!, les bonnes musiques~, l'art en général :), explorer autour..."
        >
            <h4>Quelques hobbies à moi:</h4>
            <p>J'aime <span class="text">les jeux de tables</span></p>
            <img src="/assets/images/game.png" alt="" class="illustration" />
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
