{% include '_partials/_header.html' %}

<section id="home" class="hero_project">
    <div class="hero_content">
        <div class="wrapper" data-scrolly="fromLeft">
            <div class="text_project_hero">
                <h1>Vidéo Making-of: Nautica Mystica</h1>
                <h5>Compétence(s): Montage Vidéo 🎥</h5>
                <p>Projet scolaire (ChaosMédia 2024)</p>
            </div>
            <div class="softwares">
                <img src="/assets/icons/premiere.svg" alt="blender" />
                <img src="/assets/icons/aftereffect.svg" alt="after effects" style="scale: 77%" />
            </div>
        </div>
    </div>
    <div class="hero_media">
        <img src="/assets/images/VignetteNauticaRight.png" alt="" />
    </div>
</section>

<section class="disclaimer" style="padding-top: 150px">
    <div class="wrapper">
        <div class="disclaimer_content">
            <h4 data-scrolly="zoom">AVERTISSEMENT</h4>
            <p data-scrolly="zoom">
                En raison d'un malheureux accident impliquant mon disque dur externe, je n'ai plus accès aux fichiers de
                ce projet. Je compte tenter de récupérer les fichiers perdus, mais pour le moment, veuillez excuser
                l'absence d'images et de documentation.
            </p>
        </div>
    </div>
</section>

<section class="introProject">
    <div class="wrapper">
        <div class="sectionTitle">
            <h2>Résumé</h2>
            <div class="circle"></div>
        </div>
        <div class="context">
            <p data-scrolly="fromLeft">
                Lors du projet, j'étais surtout le scinéaste. Ce qui signifie que je filmais des extraits vidéos durant
                les cours.
            </p>
            <p data-scrolly="fromLeft">
                Éventuellement, ma tâche principale fût de montée la vidéo Making-of du projet... Alors voici le
                résultat final!
            </p>
        </div>
        <div class="video" data-component="YouTube" data-youtube-id="rn_vJhpHGZ0" data-no-repeat="" data-scrolly="zoom">
            <div class="youtube__media js-video-youtube">
                <img class="js-poster" src="assets/images/VignetteNauticaVideo.PNG" alt="Video" />
                <img src="assets/images/play.svg" alt="" class="icon" />
            </div>
        </div>
    </div>
</section>

<section class="steps" data-component="Modale">
    <div class="wrapper">
        <!-- Slider main container -->
        <div class="swiper" data-component="Carousel">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 1: Collecte d'extrait et Recherche</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                Tout au long du projet,
                                <span>environs 7-8 semaines, j'ai fait de la collecte d'extrait vidéo</span>, que ce
                                soit des captures d'écrans ou des vidéos par téléphone.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>Recherche de différentes musique pour représenté les différentes étapes du projets.</p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/error.jpg" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slide_content">
                        <h3 data-scrolly="fromBottom">Étape 2: Triage et Montage</h3>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                J'ai
                                <span
                                    >organiser tout les extraits, animations, musiques, etc. Dans des fichiers bien
                                    identifier</span
                                >
                                pour faciliter le travail.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="bullet_point" data-scrolly="fromBottom">
                            <p>
                                J'ai
                                <span>effectuer le montage finale en concentrant mes efforts sur la narration</span>
                                avec une voix off et des dates.
                            </p>
                            <div class="bullet">
                                <svg class="icon icon--xxl icon-polygon">
                                    <use xlink:href="#icon-bullet_polygon"></use>
                                </svg>
                                <svg class="icon icon--xxl icon-star">
                                    <use xlink:href="#icon-bullet_star"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="slide_media" data-scrolly="zoom">
                        <img src="/assets/images/error.jpg" alt="Aucune Image" class="has_modale" />
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="circle"></div>
    </div>
</section>

<section class="disclaimer">
    <div class="wrapper">
        <div class="disclaimer_content">
            <h4 data-scrolly="zoom">Disclaimer</h4>
            <p data-scrolly="zoom">
                Projet fictif réalisé en techniques d'intégration multimédia du Cégep Édouard-Montpetit, sans but
                commercial. Les marques commerciales et les droits d'auteur sont la propriété de leurs propriétaires
                respectifs.
            </p>
            <p data-scrolly="zoom">
                Student project carried out in multimedia integration techniques at Cégep Édouard-Montpetit, without
                commercial purpose. Trademarks and copyrights are properties of their respective owners.
            </p>
        </div>
    </div>
</section>

<div class="modale">
    <div class="modale_container" data-scrolly="zoom">
        <div class="modale_media"></div>
        <p>
            Le média ne s'affiche pas ou <br />
            tournez votre téléphone en mode paysage
        </p>
    </div>
</div>

{% include '_partials/_footer.html' %}
